@font-face {
  font-family: "Pretendard-Regular";
  src: url(./assets/fonts/런드리고딕\ Regular.woff);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #101010;
  color: #fff;
  font-family: "Pretendard-Regular", sans-serif;
}

.align_center {
  display: flex;
  align-items: center;
}
